@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index">
    <label >Nhập mã ID :</label>
    <input type="text" name="PersonId">
    <lable>Nhập họ tên</lable>
    <input type= "text" name="Fullname">
    <lable>Nhập địa chỉ:</lable>
    <input type= "text" name="Address">
    <input type= "submit" value="Gửi dữ liệu">

</form>
<h1>@ViewBag.Message</h1>