<form asp-action="Index">
    <label> Nhap Ho Ten: </label>
    <input type="Text" name="FullName">
    <label> Nhap MSV: </label>
    <input type="Text" name="StudentID">
    <input type="submit" value="Submit">
    
</form>
<h1> @ViewBag.Message</h1>