<h1> Du Lieu Tu Controller Gui ve la:  @ViewBag.infoPerson</h1>

<form asp-action="Index">
    <label> Nhap Ho Ten: </label>
    <input type="Text" name="PersonID">
    <label> Nhap MSV: </label>
    <input type="Text" name="FullName">
    <label> Nhap MSV: </label>
    <input type="Text" name="Diachi">
    <input type="Submit" value="Gui du lieu">
    
</form>
